@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Permanent+Marker&display=swap');

body{
    margin:0;
    padding:0;
    background-color: black;
    text-align:center;
    
}
h1 {
   color:red;
   font-size:85px;
   font-family: 'Permanent Marker', cursive;
   text-shadow: 2px 2px white;
}
h1:hover{
    color:white;
    font-size: 300px;
    text-shadow: 15px 15px red;
}
.container{
    width:100vw;
    height:100vh;
    background: black;
    display:flex;
    align-items: top;
    justify-content: center;
}
.pumpkin{
    width:50%;
    height:50%;
    background: orange;
    border-radius: 50%;
    position: relative;
}
.mouth{
    width:55%;
    height:25%;
    background: rgb(87, 85, 85);
    border-radius: 140px 140px 0 0;
    position:absolute;
    top:60%;
    left:22%;
}
.eye{
    background-color: red;
    height:20%;
    width:20%;
    border-radius:0px 50px;
    position:absolute;
    left:20%;
    top:20%;
    z-index: +1;
    transition-property: height, width;
    transition-duration: 3s;
}
.eye:hover{
    height:30%;
    width:30%;
}
.eye2{
    background-color: red;
    height:20%;
    width:20%;
    border-radius:50px 0px;
    position:absolute;
    left:60%;
    top:20%;
    z-index: +1;
    transition-property: height, width;
    transition-duration: 3s;
}
.eye2:hover{
    height:30%;
    width:30%;
}

.eyemask{
    height:0;
    width:0;
    border-bottom: 18vh solid white;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
    position:absolute;
    top:25px;
    left:65px;
    opacity:1;
    transition-property:opacity;
    transition-duration: 3s;
}
.eyemask:hover{
    opacity:0;
}
.eyemask2{
    height:0;
    width:0;
    border-bottom: 18vh solid white;
    border-left: 8vw solid transparent;
    border-right: 8vw solid transparent;
    position:absolute;
    top:25px;
    left:225px;
    opacity:1;
    transition-property:opacity;
    transition-duration: 3s;
}
.eyemask2:hover{
    opacity:0;
}
.stem{
    background-color: green;
    width:50px;
    height:85px; 
    position: absolute;
    left: 180px;
    top: -50px;
}   
.pupil{
    width:15%;
    height:15%;
    background: white;
    border-radius: 50%;
    position:absolute;
    top:120px;
    left:123px;
    z-index: +1;
}
.pupil2{
    width:15%;
    height:15%;
    background: white;
    border-radius: 50%;
    position:absolute;
    top:122px;
    left:246px;
    z-index: +1;
}